body {
  font-size: 1.2em;
  margin: 20px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

img {
  max-width: 100%;
}

figure {
  background: white;
  margin: 0 0 15px 0;
  padding: 15px;
  text-align: center;
}

@media screen and (min-width: 794px) {
  body {
    background: lightblue;
    color: white;
    margin: 25px;
  }

  figure {
    width: 41%;
    float: left;
    margin-right: 30px;
  }
  figcaption {
    color: black;
  }
}

@media screen and (min-width: 1020px) {
  body {
    background: rgba(0, 255, 0, 0.2);
    margin: 25px 10%;
    max-width: 1130px;
    color: black;
  }

  figure {
    width: 43%;
    margin-right: 2.5%;
  }
}
